:root {
    --header-height: 30px;
    --footer-height: 30px;
    --kbd-background-color: rgba(221, 221, 221, 0.4);
    --kbd-border-bottom-color: rgba(68, 68, 68, 0.6);
    --kbd-box-shadow-color: rgba(0, 0, 0, 0.36);
    --kbd-color: #555555;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --kbd-background-color: rgba(128, 128, 128, 0.17);
        --kbd-border-bottom-color: rgba(68, 68, 68, 0.6);
        --kbd-box-shadow-color: rgba(0, 0, 0, 0.16);
        --kbd-color: #cccccc;
    }
}

body {
    margin: 0;
}

#app {
    font-family: 'Segoe UI Variable';
    height: 100vh;
    position: relative;
    width: 100%;
}

header,
.sections,
footer {
    background-color: var(--fill-color);
}

header,
footer {
    align-items: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15px;
    width: 100%;
}

header div:last-child,
footer div:last-child {
    text-align: right;
}

header {
    border-bottom: solid 1px var(--neutral-stroke-layer-rest);
    height: var(--header-height);
}

#container {
    display: flex;
    height: calc(100% - (var(--header-height) + var(--footer-height)));
    position: relative;
    width: 100%;
}

footer {
    border-top: solid 1px var(--neutral-stroke-layer-rest);
    height: var(--footer-height);
}

#menu_bar {
    align-items: center;
    display: flex;
}

#title_bar,
#credits {
    text-align: center;
}

#project_title::after {
    content: ' —';
}

#project_title.unsaved {
    font-variation-settings: 'wght' 600, 'opsz' 20;
    font-style: italic;
}

#project_title.unsaved::after {
    content: '* —';
}

.no-project #project_title {
    display: none;
}

#getting_started {
    align-items: center;
    background-color: var(--fill-color);
    display: none;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.no-project
#getting_started {
    display: flex;
}

.keyboard-shortcuts {
    align-items: center;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    color-scheme: light;
}

.keyboard-shortcuts
.label {
    color: var(--neutral-foreground-rest);
    font-family: inherit;
    font-size: 14px;
    font-variation-settings: 'wght' 400, 'opsz' 20;
    text-align: right;
}

.keyboard-shortcuts
kbd {
    background-color: var(--kbd-background-color);
    border-bottom: solid 1px var(--kbd-border-bottom-color);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--kbd-box-shadow-color);
    color: var(--kbd-color);
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-variation-settings: 'wght' 400, 'opsz' 16;
    line-height: 11px;
    margin-right: 2px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

#preview_section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
}

#preview_canvas {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#properties_section {
    border-left: solid 1px var(--neutral-stroke-layer-rest);
    overflow-y: auto;
    padding: 20px;
    width: 350px;
}

.no-project
#properties_section {
    display: none;
}

#properties_section 
fluent-accordion {
    gap: 8px;
}

.properties-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
}

.input-group {
    align-items: center;
    color: var(--neutral-foreground-rest);
    display: flex;
    gap: 10px;
}

.input-group.grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    width: 100%;
}

.input-group label {
    font-family: 'Segoe UI Variable';
    font-variation-settings: 'wght' 400, 'opsz' 20;
    font-size: 14px;
}

.input.small {
    width: 80px;
}

.select.medium {
    min-width: min-content;
}

.menu-region {
    padding-top: 8px;
}

.menu
fluent-menu-item::part(content) {
    padding-right: 28px;
}

kbd {
    font-family: var(--body-font);
}

footer,
#title_bar {
    color: var(--neutral-foreground-rest);
    font-size: 14px;
    font-variation-settings: 'wght' 400, 'opsz' 20;
}