:root {
    --header-height: 30px;
    --footer-height: 30px;
}

body {
    font-family: 'Segoe UI Variable';
    height: 100vh;
    margin: 0;
}

header,
footer,
.sections {
    background-color: var(--fill-color);
}

header,
#container,
footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

header {
    align-items: center;
    border-bottom: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-rest);
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 15px;
}

#container {
    height: calc(100% - (var(--header-height) + var(--footer-height)));
}

footer {
    align-items: center;
    border-top: solid 1px var(--neutral-stroke-layer-rest);
    height: var(--footer-height);
    justify-content: space-between;
    padding: 0 15px;
}

#project_title.unsaved {
    font-style: italic;
}

#project_title.unsaved::after {
    content: '*';
}

#preview_section {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
    width: calc(100% - 350px);
}

#properties_section {
    border-left: solid 1px var(--neutral-stroke-layer-rest);
    overflow-y: auto;
    padding: 20px;
    width: 350px;
}

.properties-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
}

.input-group {
    align-items: center;
    color: var(--neutral-foreground-rest);
    display: flex;
    gap: 10px;
}

.input-group.grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    width: 100%;
}

.input-group label {
    font-family: 'Segoe UI Variable';
    font-variation-settings: 'wght' 400, 'opsz' 20;
    font-size: 14px;
}

.input.small {
    width: 80px;
}

.select.medium {
    min-width: min-content;
}

.menu-region {
    padding-top: 8px;
}

.menu
fluent-menu-item::part(content) {
    padding-right: 28px;
}

kbd {
    font-family: var(--body-font);
}

footer,
#title_bar {
    color: var(--neutral-foreground-rest);
    font-variation-settings: 'wght' 400, 'opsz' 20;
    font-size: 14px;
}