body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI Variable', sans-serif;
    height: 100vh;
    margin: 0;
}

header,
.sections {
    background-color: var(--fill-color);
}

#container {
    display: flex;
    flex-grow: 1;
}

#preview_section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
}

#properties_section {
    width: 350px;
}

.section-header {
    color: #fff;
    font-variation-settings: 'wght' 600, 'opsz' 36;
    font-size: 28px;
}